@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
*{
    margin: 0px;
    padding: 0px
}
.mp-btn{
    padding: 10px;
    margin: 15px 0;
    background-color: #000;
    border-radius: 5px;
    transition: all .5s;
    color: white;
}
.mp-btn:hover{
    background-color:#A68F51;
    color: black;
}
.row{
    margin-left: 0 !important;
    margin-right: 0 !important;
}
html {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}
html body{
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}
body{
    font-family: 'Nunito Sans', sans-serif;
}
.bg-fw{
    background-color: #af9d6f;
    padding: 30px;
}
a{
    color: black;
    text-decoration: none;
}
.navbar-light .navbar-toggler {
    border-color: #A68F51 !important;
}
.navbar-toggler:hover{
    background-color: #A68F51 !important;
}
.container-fluid{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.underline{
    width: 80px;
    margin: auto;
    border-top: 4px solid #A68F51;
}
ul{
    list-style: none;
}
li{
    padding: 0 30px;
}
#sort{
    width: 95%;
}
.navbar-brand img{
    width: 25%;
}
#cover{
    background: url(../img/header-bg.jpg);
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.cover-text{
    position: relative;
    top: 35%;
}
.nav-link{
    color: black !important;
    border-bottom: 3px solid #fff;
}
.nav-link:hover{
    color: #A68F51 !important;
    border-bottom: 3px solid #A68F51;
    transition: all .7s;
}
/* Offers home */

.offers-section{
    margin: auto;
    margin: 70px 0;
}
.offer{
    margin: auto;
    width: 250px;
    padding: 40px;
    border-radius: 0px 20px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 15px 0px #5a5a5a;
}
.offer img{
    width: 50%;
}
.offer:hover{
    transition: ease-in-out .4s;
    color: #A68F51;
}
/* About home section */
.heading{
    width: 100%;
    text-align: center;
    color: black;
    letter-spacing: 7px;
    padding: 20px;
    margin: 30px 0;
}
/* HOME FAVORITES */

.wrapper {
    display: inline-flex;
    width: 100%;
  }
  
.row {
      display: inline-flex;
    width: 100%;
}
  
.column {
    display: inline-flex; 
    padding: 5px;
    width: 33.3%;
}
.column img{
    width: 100%;
}
.navigate {
      text-align: center;
      padding: 15px;
}

.navigate a {
    cursor: pointer;
}

/* footer */
.social i{
    padding: 0 10px
}
.social a{
    color: black;
}
.social a:hover{
    color: #746f6f;
    transition: all 1s;
}
#movetop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    width: 38px;
    height: 38px;
    background: black;
    padding: 0;
    line-height: 38px;
    transition: 0.5s ease-out;
    border-radius: 50%;
}
/* ABOUT PAGE */

.about-text{
    background-color: white;
    padding: 50px;
}


/* CONTACT PAGE */
#contact-cover{
    background: url(../img/contact-cover.jpg);
    height: 120vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.bg-contact{
    padding: 30px;
    background-color: white;
    position: relative;
    top: 15%;
}

/* CONTACT SECTION */
form{
    text-align: center;
}
.form-group input{
    margin: 3px 0;
}
textarea{
    resize: none;
}
.form-group input{
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0 !important;
}
.form-group textarea{
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0 !important;
}
select{
    border-radius: 0 !important;
}
/* SHOP PAGE */
.card-img-top{
    width: 100%;
    object-fit: cover;
    height: 20rem;
}
.card-title{
    font-size: 20px;
}

/* preloader */

.loading {
	width: 100%;
	height: 100vh;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	z-index: 1000000;
}

.loading img {
	width: 7%;
}