@media screen and (max-width: 769px){
    .navbar-brand{
        width: 30%;
    }

    .cover-text{
        top: 20%;
    }
    .cart-img{
        display: none;
    }
    .product-item{
        display: block;
    }
    .product-info{
        margin: 0;
    }
}